//main: main.scss

$bg_colum1: hsl(31, 77%, 52%);
$bg_colum2: hsl(184, 100%, 22%);
$bg_colum3:  hsl(179, 100%, 13%);

$paragraph_color:hsla(0, 0%, 100%, 0.75);
$title_color : rgba(255, 255, 255, 0.95);

$paragraph_font_size: 1em;

$font_paragraph: 'Lexend Deca', sans-serif;
$weight_paragraph: 400;

$main-bg-color: #F2F2F2;
$font_titles: 'Big Shoulders Display', cursive;
$weight_titles: 700;

$margin_bottom_element: 2.1875rem;

$title_size: 2.5rem;

